<!doctype html>
<html>
<head>
<title>Welcome to Fence Supply Guys </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="template.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">

<!-- Main CSS File -->
<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
<div class="page-wrapper">
<header class="header header-10">
  <div class="header-top">
    <div class="container">
      <div class="header-left">
        <ul class="top-menu">
          <li> <a href="#"> Links </a>
            <ul>
              <li><a href="tel:#"><i class="icon-phone"></i> Call: (123) 456-7890 </a></li>
            </ul>
          </li>
        </ul>
        <!-- End .top-menu --> 
      </div>
      <!-- End .header-left -->
      
      <div class="header-right">
        <ul class="top-menu top-link-menu">
          <li> <a href="#">Links</a>
            <ul>
              <li><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>Login</a></li>
            </ul>
          </li>
        </ul>
        <!-- End .top-menu -->
        
        <div class="header-dropdown"> <a href="#">USD</a>
          <div class="header-menu">
            <ul>
              <li><a href="#">Eur</a></li>
              <li><a href="#">Usd</a></li>
            </ul>
          </div>
          <!-- End .header-menu --> 
        </div>
        <!-- End .header-dropdown -->
        
        <div class="header-dropdown"> <a href="#">Eng</a>
          <div class="header-menu">
            <ul>
              <li><a href="#">English</a></li>
              <li><a href="#">French</a></li>
              <li><a href="#">Spanish</a></li>
            </ul>
          </div>
          <!-- End .header-menu --> 
        </div>
        <!-- End .header-dropdown --> 
      </div>
      <!-- End .header-right --> 
    </div>
    <!-- End .container --> 
  </div>
  <!-- End .header-top -->
  
  <div class="header-middle">
    <div class="container">
      <div class="header-left">
        <button class="mobile-menu-toggler"> <span class="sr-only">Toggle mobile menu</span> <i class="icon-bars"></i> </button>
        <a href="index.html" class="logo"> <img src="images/logo.png" alt="Molla Logo" width="100%" height="25"> </a> </div>
      <!-- End .header-left -->
      
      <div class="header-right">
        <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block"> <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
          <form action="#" method="get">
            <div class="header-search-wrapper search-wrapper-wide">
              <div class="select-custom">
                <select id="cat" name="cat">
                  <option value="">TYPES OF FENCING</option>
                  <option value="1">PostMaster </option>
                  <option value="2">- Wood</option>
                  <option value="3">- Chain Link </option>
                  <option value="4">- Vinyl </option>
                  <option value="5">- Ornamental Steel </option>
                  <option value="6">Ornamental Aluminum</option>
                  <option value="7">- Agricultural </option>
                  <option value="8">- Prism 3-D</option>
                </select>
              </div>
              <!-- End .select-custom -->
              <label for="q" class="sr-only">Search</label>
              <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
              <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </div>
            <!-- End .header-search-wrapper -->
          </form>
        </div>
        <!-- End .header-search --> 
        
        
        
        <div class="dropdown cart-dropdown"> <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"> <i class="icon-shopping-cart"></i> <span class="cart-count">2</span> </a> 
          
        
        </div>
        <!-- End .cart-dropdown --> 
      </div>
      <!-- End .header-right --> 
    </div>
    <!-- End .container --> 
  </div>
  <!-- End .header-middle -->
  
  <div class="header-bottom sticky-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="dropdown category-dropdown"> <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories"> TYPES OF FENCING </a>
            <div class="dropdown-menu">
              <nav class="side-nav">
                <ul class="menu-vertical sf-arrows">
                  <li><a href="#">PostMaster</a></li>
                  <li><a href="#">Wood</a></li>
                  <li><a href="#">Chain Link</a></li>
                  <li><a href="#">Vinyl</a></li>
                  <li><a href="#">Ornamental Steel</a></li>
                  <li><a href="#">Ornamental Aluminum</a></li>
                  <li><a href="#">Agricultural</a></li>
                  <li><a href="#">Prism 3-D</a></li>
                </ul>
                <!-- End .menu-vertical --> 
              </nav>
              <!-- End .side-nav --> 
            </div>
            <!-- End .dropdown-menu --> 
          </div>
          <!-- End .category-dropdown --> 
        </div>
        <!-- End .col-lg-3 -->
        
        <div class="col-lg-7">
          <nav class="main-nav">
            <ul class="menu sf-arrows justify-content-center">
              <li> <a href="#" class="sf-with-ul"> LOCATE A BRANCH </a> 
             
              </li>
              <li> <a href="#" class="sf-with-ul">About US</a> 
                
         
              </li>
              <li> <a href="#" class="sf-with-ul"> WARRANTY INFO </a> 
                
           
              </li>
              <li> <a href="#" class="sf-with-ul"> RESOURCES </a> 
                
             
              </li>
            </ul>
            <!-- End .menu --> 
          </nav>
          <!-- End .main-nav --> 
        </div>
        <!-- End .col-lg-9 -->
        
        <div class="col-lg-2 justify-content-end">
          <div class="social-icons justify-content-end" style="margin-top: 5px;"> <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a> <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a> <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a> 
            <!-- <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>--> 
          </div>
          <!-- End .social-icons --> 
        </div>
      </div>
      <!-- End .row --> 
    </div>
    <!-- End .container --> 
  </div>
  <!-- End .header-bottom --> 
</header>
	
	</div>
	<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>
            
            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li class="active">
                                <a href="index.html"> LOCATE A BRANCH </a>
<!--
                                <ul>
                                    <li><a href="index-1.html">01 - furniture store</a></li>
                                    <li><a href="index-2.html">02 - furniture store</a></li>
                                  
                                </ul>-->
                            </li>
                            <li>
                                <a href="category.html">About US</a>
                             <!--   <ul>
                                    <li><a href="category-list.html">Shop List</a></li>
                                   
                             
                                </ul>-->
                            </li>
                            <li>
                                <a href="product.html" class="sf-with-ul"> WARRANTY INFO </a>
                         <!--       <ul>
                                    <li><a href="product.html">Default</a></li>
                          
                                </ul>-->
                            </li>
                            <li>
                                <a href="#"> RESOURCES </a>
                              
                            </li>
                           
                           
                        </ul>
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                    <nav class="mobile-cats-nav">
                        <ul class="mobile-cats-menu">
                            <li><a href="#">PostMaster</a></li>
                  <li><a href="#">Wood</a></li>
                  <li><a href="#">Chain Link</a></li>
                  <li><a href="#">Vinyl</a></li>
                  <li><a href="#">Ornamental Steel</a></li>
                  <li><a href="#">Ornamental Aluminum</a></li>
                  <li><a href="#">Agricultural</a></li>
                  <li><a href="#">Prism 3-D</a></li>
                         
                        </ul><!-- End .mobile-cats-menu -->
                    </nav><!-- End .mobile-cats-nav -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div>
	
	
	
	
<main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Cart</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Product</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            
	<div class="container">
	<table class="table-bordered" cellspacing="2" cellpadding="2"  width="100%">
  <tr style="height:14pt">
    <td style="">Dealer:</td>
	  
	   <td ><input type="text" class="form-control" name="" id="" placeholder=""></td>
	  <td style="">Date:</td>
    <td style=""><input type="text" class="form-control" name="" id="" placeholder=""></td>
  </tr>
  
  <tr style="height:14pt">
    <td style="">Customer Number:</td>
	  
	   <td ><input type="text" class="form-control" name="" id="" placeholder=""></td>
	  <td style="">P.O.Number:</td>
    <td style=""><input type="text" class="form-control" name="" id="" placeholder=""></td>
  </tr>
  <tr style="height:14pt">
    <td style="">Contact Name:</td>
	  
	   <td ><input type="text" class="form-control" name="" id="" placeholder=""></td>
	  <td style="">Job Name:</td>
    <td style=""><input type="text" class="form-control" name="" id="" placeholder=""></td>
  </tr>
  

  
</table><br/>
	
	<table class="table-bordered" cellspacing="2" cellpadding="2"  width="100%"> <p><b> Height:</b> 
  <tr style="height:15pt">
 
    <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">36&quot; </td>
    <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <input type="text" class="form-control" name="" id="" placeholder=""></td>
    <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1"> 42&quot; </td>
    <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">   <input type="text" class="form-control" name="" id="" placeholder="">  </td>
    <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1"> 48&quot; </td>
    <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">      <input type="text" class="form-control" name="" id="" placeholder="">  </td>
    <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1"> 54&quot; </td>
    <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"> <input type="text" class="form-control" name="" id="" placeholder="">   </td>
    <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">60&quot; </td>
    <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"> <input type="text" class="form-control" name="" id="" placeholder="">  </td>
    <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">72&quot; </td>
    <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"> <input type="text" class="form-control" name="" id="" placeholder="">   </td>
    <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1"> 84&quot; </td>
    <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"> <input type="text" class="form-control" name="" id="" placeholder="">   </td>
    <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1"> 96&quot; </td>
    <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"> <input type="text" class="form-control" name="" id="" placeholder="">  </td>
  </tr>
</table>
<br/>
<table class="table-bordered" cellspacing="2" cellpadding="2"  width="100%"><p><b> Grade:</b> 
  <tr style="height:15pt">
 
    <td  >Residential</td>
    <td >  <input type="checkbox" class="" id="check2" name="option2" value=""> </td>
    <td>  Commercial </td>
       <td >  <input type="checkbox" class="" id="check2" name="option2" value=""> </td>
    <td > Industrial </td>
        <td >  <input type="checkbox" class="" id="check2" name="option2" value=""> </td>
  </tr>
</table><br/>

<table class="table-bordered" cellspacing="2" cellpadding="2"  width="100%"><p><b> Style:</b> 
  <tr style="height:15pt">
 
    <td >Standard</td>
    <td >  <input type="checkbox" class="" id="check2" name="option2" value=""> </td>
    <td>  Decorative </td>
       <td >  <input type="checkbox" class="" id="check2" name="option2" value=""> </td>
   
  </tr>
</table>


<br/>
		
<table class="table-bordered" cellspacing="2" cellpadding="2"  width="100%"> 
  <tr style="height:14pt">
	  <td> <img src="assets/images/style-b.png"></td>
	  <td> <img src="assets/images/style-a.png"></td>
	   <td> <img src="assets/images/style-c.png"></td>
	    <td> <img src="assets/images/style-c.png"></td>
	</tr>
	 <tr style="height:14pt">
	  <td align="center"> <strong>STYLE B </strong>  <input type="checkbox" class="" id="check2" name="option2" value=""> </td>
	  <td align="center"> <strong>STYLE A</strong>  <input type="checkbox" class="" id="check2" name="option2" value=""> </td>
	   <td align="center"> <strong>STYLE C</strong>  <input type="checkbox" class="" id="check2" name="option2" value=""> </td>
		<td align="center"> <strong>STYLE E</strong>  <input type="checkbox" class="" id="check2" name="option2" value=""> </td>
	</tr>
	
  
</table>
<br/>
<table class="table-bordered" cellspacing="2" cellpadding="2"  width="100%"> <p><b> Chanels:</b> 
  <tr style="height:15pt">
    <td >2-Rail </td>
    <td><input type="checkbox" class="" id="check2" name="option2" value="">  </td>

	  <td >3-Rail </td>
    <td><input type="checkbox" class="" id="check2" name="option2" value="">  </td>
	  
	   <td >4-Rail </td>
    <td><input type="checkbox" class="" id="check2" name="option2" value="">  </td>
	  
	   <td >Custom </td>
    <td><input type="checkbox" class="" id="check2" name="option2" value="">  </td>
	  
	  
	  
	  
  </tr>
</table>
		
	<br/>
		<p> <strong>Base Channel</strong> 
		<table class="table-bordered" cellspacing="2" cellpadding="2"  width="50%">
  <tbody><tr style="height:15pt">
    <td >Picket Thru</td>
    <td style=""> <input type="checkbox" class="" id="check2" name="option2" value="">  </td>
    <td >Flush Bottom </td>
    <td ><input type="checkbox" class="" id="check2" name="option2" value=""> </td>
  </tr>
</tbody></table>
	<br/>
		<p><strong>Color:</strong>
		<table class="table-bordered" cellspacing="2" cellpadding="2"  width="100%">
  <tbody><tr style="height:15pt">
    <td >Black</td>
    <td ><input type="checkbox" class="" id="check2" name="option2" value=""></td>
    <td >Bronze</td>
    <td ><input type="checkbox" class="" id="check2" name="option2" value=""></td>
    <td >White</td>
    <td ><input type="checkbox" class="" id="check2" name="option2" value=""></td>
    <td >Custom</td>
    <td ><input type="checkbox" class="" id="check2" name="option2" value=""></td>
  </tr>
</tbody></table>
		
		<br/>
		<p><strong>Options:</strong>
		<table class="table-bordered" cellspacing="2" cellpadding="2"  width="100%">
  <tbody><tr style="height:15pt">
    <td >Quad Finials</td>
    <td ><input type="checkbox" class="" id="check2" name="option2" value="">
      </td>
    <td >Triad Finials</td>
    <td ><input type="checkbox" class="" id="check2" name="option2" value="">
      </td>
    <td >Fluer D Lease Finials</td>
    <td ><input type="checkbox" class="" id="check2" name="option2" value="">
      </td>
  </tr>
  <tr style="height:14pt">
    <td >Puppy Picket</td>
    <td ><input type="checkbox" class="" id="check2" name="option2" value="">
      </td>
    <td >Extra Picket</td>
    <td ><input type="checkbox" class="" id="check2" name="option2" value="">
      </td>
    <td >Rings</td>
    <td ><input type="checkbox" class="" id="check2" name="option2" value="">
      </td>
  </tr>
</tbody></table>
	
	<br/>
		<p><strong>Options:</strong></p>
		<table class="table-bordered" cellspacing="2" cellpadding="2"  width="100%">
  <tbody><tr style="height:15pt">
    <td >Standard</p></td>
    <td  >6'</p></td>
    <td  rowspan="2">8'</p></td>
    <td >Rackable</p></td>
    <td  rowspan="2"><p class="s1" >6'</p></td>
    <td  rowspan="2"><p class="s1" >8'</p></td>
  </tr>
  <tr style="height:14pt">
    <td ><p class="s1" >Quantity</p></td>
    <td ><p class="s1" >Quantity</p></td>
  </tr>
</tbody></table>
	<br/>
<p><strong>Gates :</strong></p>
<table class="table-bordered" cellspacing="2" cellpadding="2"  width="100%">
  <tbody><tr style="height:14pt">
    <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">Opening</td>
    <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">Single</td>
    <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">Double</td>
    <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">Rainbow</td>
    <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">Estate</td>
    <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">U-Frame </td>
    <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">Brace</td>
    <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">Quantity</td>
  </tr>
    <tr style="height:14pt">
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
	   <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
	   <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
	   <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
  </tr>
   <tr style="height:14pt">
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
	   <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
	   <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
	   <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
  </tr>
   <tr style="height:14pt">
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
	   <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
	   <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
	   <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
  </tr>
</tbody></table>
		
<br/>
<p><strong>Posts:</strong></p>
<table class="table-bordered" cellspacing="2" cellpadding="2"  width="100%">
  <tbody><tr style="height:15pt">
    <td style="width:42pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">Size</td>
    <td style="width:42pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">Wall</td>
    <td style="width:42pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">Length</td>
    <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">Type</td>
    <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">Quantity</td>
  </tr>
  <tr style="height:14pt">
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
  </tr>
   <tr style="height:14pt">
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
  </tr>
   <tr style="height:14pt">
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
  </tr>
    <tr style="height:14pt">
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
  </tr>
    <tr style="height:14pt">
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
  </tr>
    <tr style="height:14pt">
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
  </tr>
    <tr style="height:14pt">
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
    <td ><input type="text" class="form-control" name="" id="" placeholder="">
     </td>
  </tr>
</tbody></table>
<br/>

<table class="table-bordered" cellspacing="2" cellpadding="2"  width="100%">
  <tbody><tr style="height:15pt">
    <td style="width:84pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">Hardware:</td>
    <td style="width:105pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1">Quantity</td>
  </tr>
  <tr style="height:14pt">
    <td style="width:84pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1"><p class="s5" style="padding-left: 1pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Hinges</p></td>
    <td><input type="text" class="form-control" name="" id="" placeholder=""></td>
  </tr>
  <tr style="height:14pt">
    <td style="width:84pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1"><p class="s5" style="padding-left: 1pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Latches</p></td>
   <td><input type="text" class="form-control" name="" id="" placeholder=""></td>
  </tr>
  <tr style="height:14pt">
    <td style="width:84pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1"><p class="s5" style="padding-left: 1pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Drop Rod</p></td>
   <td><input type="text" class="form-control" name="" id="" placeholder=""></td>
  </tr>
  <tr style="height:14pt">
    <td style="width:84pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1"><p class="s5" style="padding-left: 1pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Caps</p></td>
   <td><input type="text" class="form-control" name="" id="" placeholder=""></td>
  </tr>
  <tr style="height:14pt">
    <td style="width:84pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1"><p class="s5" style="padding-left: 1pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Ball Caps</p></td>
    <td><input type="text" class="form-control" name="" id="" placeholder=""></td>
  </tr>
  <tr style="height:14pt">
    <td style="width:84pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1"><p class="s5" style="padding-left: 1pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Wall Mounts</p></td>
   <td><input type="text" class="form-control" name="" id="" placeholder=""></td>
  </tr>
  <tr style="height:14pt">
    <td style="width:84pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1"><p class="s5" style="padding-left: 1pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Ball Swivels</p></td>
   <td><input type="text" class="form-control" name="" id="" placeholder=""></td>
  </tr>
  <tr style="height:14pt">
    <td style="width:84pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1"><p class="s5" style="padding-left: 1pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Post Screws</p></td>
   <td><input type="text" class="form-control" name="" id="" placeholder=""></td>
  </tr>
  <tr style="height:15pt">
    <td style="width:84pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#F1F1F1"><p style="text-indent: 0pt;text-align: left;"><br>
      </p></td>
  <td><input type="text" class="form-control" name="" id="" placeholder=""></td>
  </tr>
</tbody></table>

<br/>
<table class="table-bordered" cellspacing="2" cellpadding="2"  width="100%">
<tr>
	<td>Printed Name:</td>
	<td><input type="text" class="form-control" name="" id="" placeholder=""></td>
	<td>Signature:</td>
	<td><input type="text" class="form-control" name="" id="" placeholder=""></td>
	<td>Date:</td>
	<td><input type="text" class="form-control" name="" id="" placeholder=""></td>
	</tr>
</table>
<br/>
<br/>
		
	</div>
        </main>



<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12">
        <h2>Fence Supply Guys </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since ... 
      </div>
      <div class="col-lg-3 col-12">
        <h2>Products</h2>
        <ul>
          <li> <a href="#"> Warranty Registration </a></li>
          <li><a href="#"> Find a Master Halco Branch </a> </li>
          <li><a href="#"> Contact Us </a> </li>
          <li> <a href="#">Terms of Sale</a> </li>
        </ul>
      </div>
      <div class="col-lg-3 col-12">
        <h2>Company</h2>
        <ul>
          <li> <a href="#">Become A Customer </a></li>
          <li><a href="#">Contractor </a> </li>
          <li><a href="#">QuoteMaster </a></li>
          <li><a href="#">Careers</a> </li>
        </ul>
      </div>
      <div class="col-lg-3 col-12">
        <h2>Let's connect</h2>
        <ul>
          <li> Corporate Office: 123-456-7890 </li>
          <li> Branch Locations: 123-456-7890 </li>
          <li> Mail: <a href="mailto:contact@fencesupplyguys.com">contact@fencesupplyguys.com </a> </li>
        </ul>
      </div>
    </div>
    <div class="row" >
      <div class="col-lg-12 col-12 text-center" style="border-top:solid 1px #ccc; padding-top: 10px; margin-top: 15px;">
        <p> All rights reserved@ Fence Supply Guys. 
      </div>
    </div>
  </div>
</section>
<script src="assets/js/jquery.min.js"></script> 
<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/jquery.elevateZoom.min.js"></script>
	 <script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
